body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: whitesmoke;
}

h1 {
    font-size: 48px;
}

button, input {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    border: 1px solid whitesmoke;
    color: whitesmoke;
}

#container {
    flex: 1;
    display: flex;
    border: 2px solid white;
    background-color: black;
    border-radius: 50px;
    padding: 50px;
}

#controlContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

#drawPane {
    border: 1px solid whitesmoke;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    background-color: whitesmoke;
}

.lineContainer {
    display: flex;
    flex: 1;
}


.cell {
    flex: 1;
}

.selected {
    border: 1px solid fuchsia;
}